*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
/* 頭部開始 */
.nav
{
	background-color: #E3E4E5;
	width: 100%;
	height: 31px;
	/* position: relative; */
	/* z-index: -1; */
}
.nav-content{
	width:1190px;
	margin: 0 auto;
	/* border:1px solid; */
	clear: both;
	height:100%;
} 

.diqu{
	/* position: absolute; */
	/* left: 200px; */
	/* background: #F0F3EF; */
	/* border: 1px solid red; */
	float:left;
	width: 81px;
	height: 30px;
	margin-left: 30px;
	text-align: center;
}
.diqu-show{
	/* display: inline-block; */
	/* margin-top: -30px; */
	width: 81px;
	height: 30px;
	margin-left: 25px;
	line-height: 30px;
}
.diqu>div{
	background: url(../img/地图.svg) no-repeat;
	background-size: 32px;
}
.diqu a
{
	color: #999999;
}


.diqu ul{
	display: none;
	width: 322px;
	height: 359px;
	background: white;
	border: 1px solid #999999;
	/* margin-top: -2px; */
	position: relative;
	/* top: -2px;*/
	z-index: 22; 
}

.diqu li{
	float: left;
	width: 50px;
	height: 28px;
	color: red;
	text-align: center;
	line-height: 28px;
	margin-top:5px;
	margin-left:10px;
}
.diqu li:hover
{
	background: #E3E4E5;
}
.diqu li a:hover
{
	color: red;
}



#gj
{
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	font-size: 14px;
}
#gj a:hover
{
	color: red;
}

.caidan
{
	width: 810px;
	/* position: absolute; */
	/* left: 380px; */
	float:right;
}
.caidan>li>ul{
	position:relative;
	z-index:22;
}
.caidan li{
	float: left;
	width: 90px;
	height: 31px;
	text-align: center;
	line-height: 31px;
}
.caidan a{
	color: #999999;
	display: inline-block;
	height: 31px;
	font-size: 12px;
}
.caidan a:hover{
	color: red;
}
.caidan span{
	color: #999999;
	margin-left: 10px;
}
#cd1
{
	display: none;
	width: 280px;
	height: 158px;
	background: white;
	margin-top: -2px;
	border: 1px solid #999999;
	margin-left: 3px;
}
#cd1 li{
	float: left;
	width: 125px;
	height: 23px;
	margin-top: 5px;
}
#cd1 a{
		color: #999999;
}
#cd1 a:hover{
	color: red;
}
#cd2
{
	display: none;
	width: 156px;
	height: 69px;
	background: white;
	margin-top: -2px;
	border: 1px solid #999999;
	margin-left: 3px;
}
#cd2 li{
	float: left;
	width: 55px;
	height: 23px;
	margin-top: 5px;
}
#cd2 a{
		color: #999999;
}
#cd2 a:hover{
	color: red;
}
#cd3
{
	display: none;
	width: 171px;
	height: 250px;
	background: white;
	margin-top: -2px;
	border: 1px solid #999999;
	margin-left: -101px;
}
#cd3 h3{
	width: 170px;
	height: 23px;
	text-align: left;
	margin-left: 20px;
}
#cd3 li{
	float: left;
	width: 85px;
	height: 23px;
	margin-top: 3px;
	font-size: 14px;
	
}
#cd3 a{
		color: #999999;
		font-size: 14px;
}
#cd3 a:hover{
	color: red;
}
#cd4
{
	display: none;
	width: 1190px;
	height: 179px;
	background: white;
	margin-top: -2px;
	border: 1px solid #999999;
	margin-left: -1001px;
	/* position: absolute; */
	z-index: 99;
}
#cd4 a{
		color: #999999;
}
#cd4 a:hover{
	color: red;
}
#cd4-1{
	width: 360px;
	height: 179px;
	float: left;
	border-right:1px solid #999999 ;
}
#cd4-1 h3
{
	width: 340px;
	height: 23px;
	text-align: left;
	margin-left: 20px;
	font-size: 14px;
}
#cd4-1 li{
	float: left;
	width: 85px;
	height: 23px;
	margin-top: 5px;
	font-size: 12px;
	text-align: left;
}
.
#cd4-1 a{
		font-size: 12px;
}
#cd4-2{
	width: 275px;
	height: 179px;
	float: left;
	border-right:1px solid #999999 ;
}
#cd4-2 h3
{
	width: 256px;
	height: 23px;
	text-align: left;
	margin-left: 20px;
	font-size: 14px;
}
#cd4-2 li{
	float: left;
	width: 85px;
	height: 23px;
	margin-top: 5px;
	text-align: left;
}
#cd4-2 a{
		font-size: 12px;
}
#cd4-3{
	width: 275px;
	height: 179px;
	float: left;
	border-right:1px solid #999999 ;
}
#cd4-3 h3
{
	width: 256px;
	height: 23px;
	text-align: left;
	margin-left: 20px;
	font-size: 14px;
}
#cd4-3 li{
	float: left;
	width: 85px;
	height: 23px;
	margin-top: 5px;
	text-align: left;
}
#cd4-3 a{
		font-size: 12px;
}
#cd4-4{
	width: 275px;
	height: 179px;
	float: left;
}
#cd4-4 h3
{
	width: 256px;
	height: 23px;
	text-align: left;
	margin-left: 20px;
	font-size: 14px;
}
#cd4-4 li{
	float: left;
	width: 85px;
	height: 23px;
	margin-top: 5px;
	text-align: left;
}
#cd4-4 a{
		font-size: 12px;
}
#cd5{
	width:195px ;
	height: 305px;
	margin-top: -1px;
	background: white;
	margin-left: -100px;
	border: 1px solid #999999;
	display: none;
}
#cd5 li{
	width: 190px;
	height: 100px;
	text-align: left;
	margin-top: 5px;
	border-bottom: 1px solid #999999;
}
#cd5 img{
	margin-top: 15px;
	padding-left: 10px;
	float: left;
}
#cd5 p ,#cd5 span{
	float: left;
	font-size: 12px;
}
#cd5 p{
	margin-left: 10px;
	margin-top: 15px;
}
#cd5 span{
	color: red;
}

/* 中部開始 */

.content-header{
	width:1190px;
	height: 142px;
	margin:1px auto;
	/* border:1px solid; */
	/* position: absolute; */
	border-bottom: 2px solid red;
}
.logo{
	 width: 170px; 
	height: 60px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	/* margin-left: 367px; */
	/* float: left; */
	
}
 .menu{
	 /* border: 1px solid; */
	width: 1210px;
	height: 140px;
	float:right;
	margin: 0 auto;
	position: relative;
}
.sousuo{
	width: 500px;
	height: 34px;
	background: white;
	margin-left: 300px;
	margin-top: 20px;
	border: 2px solid red;
}
.sousuo ul
{
	width: 500px;
	height: 300px;
	background: white;
	/* margin-top: 20px; */
	/* border: 1px solid; */
	display: none;
	position: relative;
	left: -2px;
	top: 15px;
	z-index: 999;
	border-bottom: 2px solid red;
	border-left: 2px solid red;
	border-right: 2px solid red;

}
.sousuo h3{
	margin-top: 20px;
	margin-left: 15px;
}
.sousuo li{
	margin-top: 5px;
	margin-left: 20px;
	width: 100px;
	height: 35px;
	background: #999999;
	float: left;
	text-align: center;
	line-height: 35px;
}
.sousuo input
{
	width: 465px;
	height: 34px;
	outline: none;
	border: none;
	/* margin-top: -2px; */
	float: left;
}
.sousuo img{
	float: left;
	height: 34px;
}
.sousuo-nanniu{
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 808px;
	margin-top: -40px;
	background: red;
	cursor: pointer;
}
.gouwuche
{
	width: 170px;
	height: 45px;
	background: white;
	position: absolute;
	left: 900px;
	top:10px;
}
.gouwuche ul
{
	display: none;
	background: white;
	width: 300px;
	height: 180px;
	margin-top: 40px;
	position: relative;
	z-index: 22;
	border: 1px solid black;
}
.gouwuche li{
	float: left;
	width: 120px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
}
.gouwuche li:hover{
	background: #FFCB00;
}
.gouwuche img
{
	margin-left: 20px;
	margin-top: 5px;
	float: left;
}
.gouwuche a
{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.menu-erweima{
	position: absolute;
	right: 0;
	top: 0px;
}
.tuijie{
	float: left;
	margin-top: 10px;
	margin-left: 90px;
}
.tuijie li{
	float: left;
	margin-left: 10px;
}
.tuijie a{
	color: #999999;
	font-size: 14px;
}
.tuijie a:hover{
	color: red;
}
.menu-q{
	width: 200px;
	height: 30px;
	background: red;
	float: left;
	text-align: center;
	line-height: 30px;
	color: white;
	cursor: pointer;
}
.menu-nav{
	float: left;
	margin-top: 30px;
	margin-left: -160px;

}
.menu-nav ul{
	float: left;
	line-height: 30px;
}
.menu-nav li{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	
}
.menu-nav a{
	color: black;
}
.menu-nav a:hover
{
	color: red;
}
 .menu-nav span
 {
	 float: left;
	 margin-left: 10px;
	 margin-right: 10px;
	 color: #999999;
 }
/* .menu-img
{
	width: 190px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 100px;
} */
.content-content-header{
	height: 44px;
	width: 100%;
	background: #F2F2F2;
}
.content-content-header>ul{
	width: 1210px;
	height: 44px;
	margin: 0 auto;
}
.content-content-header>ul>li:first-of-type{
	float: left;
	height: 44px;
	line-height: 44px;
	cursor: pointer;
}
.content-content-header>ul>li:last-of-type{
	float: right;
	height: 44px;
	line-height: 44px;
	cursor: pointer;

}
.content-content-middle{
	width: 1210px;
	margin: 0 auto;
	height: 600px;
}

		#small{
			width: 400px;
			height: 400px;
			border: 1px solid #999999;
			position: absolute;
			left: 200px;
			top: 250px;

		}
		#small img{
			width: 100%;
		}

		#move{
			width: 160px;
			height: 160px;
			background:yellow;
			opacity: 0.6;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}

		#big{
			width: 400px;
			height: 400px;
			border: 1px solid #999999;
			position: absolute;
			left: 615px;
			top: 250px;
			overflow: hidden;
			display: none;
		}

		#big img{
			position: absolute;
			width: 200%;
		}

		#dian{
			width: 400px;
			height: 100px;
			border: 1px solid #999999;
			position: absolute;
			top: 660px;
			left: 200px;
			overflow: hidden;
		}
		#dian ul{
			position: absolute;
			top: 0px;
			width: 800px;
			height: 100px;

		}
		#dian li img{
			width: 100px;
			height: 100px;
		}
		#dian li{
			float: left;
		}

		#left,#right{
			width: 30px;
			height: 100px;
			background: #999999;
			position: absolute;
			opacity: 0.9;
			top: 660px;
			text-align: center;
			line-height: 100px;
			font-size:30px;
		}
		#left{
			left:168px;
		}
		#right{
			left: 604px;
		}
		.content-content-middle-right{
			height: 600px;
			width: 700px;
			float: right;
		}
		.content-content-middle-right ul>li:first-of-type{
			margin-top: 30px;
		}
		.content-content-middle-right ul>li:first-of-type a{
			font-size: 16px;
			color: black;
		}
		.content-content-middle-right ul>li:nth-of-type(2){
			color: red;
			font-size: 12px;
			margin-top: 15px;
		}
		.content-content-middle-right ul>li:nth-of-type(3){
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: #FCFCFC;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.content-content-middle-right ul>li:nth-of-type(3) p{
			float: left;
		}
		.content-content-middle-right ul>li:nth-of-type(3) p:first-of-type{
			margin-left: 10px;
		}
		.content-content-middle-right ul>li:nth-of-type(3) p:nth-of-type(2){
			color: red;
		}
		.content-content-middle-right ul>li:nth-of-type(3) p:nth-of-type(4){
			float: right;
			margin-right: 10px;
		}
		.content-content-middle-right ul>li:nth-of-type(5){
			width: 80px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			border: 1px solid red;
			margin-top: 30px;
			margin-left: 30px;
			cursor: pointer;
		}
		.content-content-bottom{
			width: 1210px;
			height: 250px;
			margin: 0 auto;
		}
		.content-content-bottom>div{
			width: 1210px;
			height: 40px;
			background: #F7F7F7;
			line-height: 40px;
		}
		.content-content-bottom>div p{
			margin-left: 20px;
		}
		.content-content-bottom>ul li{
			width: 140px;
			height: 200px;
			float: left;
			margin-left: 10px;
		}
		.content-content-bottom>ul li img{
			width: 140px;
		}
		.content-content-bottom>ul li p{
			font-size: 12px;
			text-align: center;
		}
		
		
		
		/* 以下是content-bottom */
		.content-bottom{
			width: 1210px;
			margin: 0 auto;
		}
		.content-bottom>div:first-of-type{
			width: 210px;
			border: 1px solid #999999;
			float: left;
		}
		.content-bottom>div:first-of-type>ul>li>p{
			width: 210px;
			height: 40px;
			background: #F7F7F7;
			line-height: 40px;
		}
		.content-bottom>div:first-of-type>ul>li>div{
			margin-top: 10px;
		}
		.content-bottom>div:first-of-type>ul>li>div>img{
			width: 200px;
		}
		.content-bottom>div:first-of-type>ul>li>div p{
			text-align: center;
			cursor: pointer;
		}
		
		
		.content-bottom>div:last-of-type{
			width: 988px;
			float: left;
			border: 1px solid #999999;
			margin-left: 5px;
		}
		.content-bottom>div:last-of-type>ul>li:first-of-type{
			width: 988px;
			height: 38px;
			background: #F7F7F7;
		}
		.content-bottom>div:last-of-type>ul>li:first-of-type p{
			float: left;
			width: 106px;
			height: 38px;
			text-align: center;
			line-height: 38px;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2){
			width: 990px;
			height: 232px;
			border-bottom: 1px solid #999999;
		}
		#p1{
			width: 242px;
			height: 50px;
			float: left;
			margin-top: 30px;
			line-height: 50px;
			font-size: 12px;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2) p:first-of-type{
			background: url(../img/手机.svg) no-repeat;
			text-align: center;
			margin-left: 30px;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2) p:nth-of-type(2){
			background: url(../img/摄像头.svg) no-repeat;
			text-align: right;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2) p:nth-of-type(3){
			background: url(../img/CPU.svg) no-repeat;
			text-align: center;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2) p:nth-of-type(4){
			width: 958px;
			margin-left: 30px;
			margin-top: 50px;
			font-size:12px ;
			float: left;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2) p:nth-of-type(5){
			float: left;
			margin-left: 15px;
			margin-top: 30px;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(2) p:nth-of-type(5) span{
			margin-right: 15px;
		}
		
		
		.content-bottom>div:last-of-type>ul>li:nth-of-type(3){
			width: 888px;
			margin: 0 auto;
		}
		.content-bottom>div:last-of-type>ul>li:nth-of-type(3) img{
			width: 888px;
		}
		
		/* 以下是尾部 */
		/*服务*/
		 .service-warp{
		 	width:100%; 
			height:305px; 
		 }
		
		.service{
			width:1210px; 
			height: 305px;
			margin:0 auto;
		}
		
		 /*广告词*/
		 .slogen{
		 	float: left;
		 	margin:0 auto;
		 	padding:15px;
		 	width:1210px;
		 	height: 72px;
		 }
		
		 .slogen-list li{
		 	padding-left:30px;
		 	margin-top:15px; 
		 	float: left;
		 	line-height: 44px;
		    font-size: 18px;
		    color: #444;
			width: 252px;
			height:44px; 
		 }
		
		 .slogen-list li i{
		 	color:red;
		 	font-size:30px;
		 }
		
		
		.w1{
			width:100%;
			background:#eaeaea; 
		}
		
		
		 .jd-help-warp {
		 	height:110px; 
			border-bottom: solid 1px #dedede;
		}
		
		.jd-help{
			margin:0 auto;
			width:1210px;
			height:200px;
		}
		
		.jd-help-list{
			padding:10px 0 0 50px; 
			width:250px;
			height:28px;  
			margin-top:15px; 
			line-height: 22px;
			float: left;
		}
		
		.jd-help-list dt{
			font-weight: bold;
			padding-bottom: 6px;
		    font-weight: 700;
		    font-size: 14px;
		    color: #777;
		    height: 22px;
		}
		
		
		
		
		/*尾部*/
		.footer-warp{
			height:210px;
		}
		
		.footer{
		height:210px;
		 width: 1210px;
		 margin:0 auto;
		}
		
		
		.footer>p{
			height:18px; 
			color:#666;
			padding-top:10px; 
			padding-bottom:10px; 
			display:block;
			text-align: center;
		}
		
		 /*版权所有权*/
		.copyright_info{
			width: 1210px;
			height:169px;
		}
		
		.copyright_info>p{
			padding:3px;
			display: block;
			color:#666;
			height:22px; 
			line-height:22px;
			text-align: center; 
			font-size: 14px;
		}
		
		.footer-img{
			margin:0 auto;
			display:block;
			width:648px;
			height: 35px; 
		}